.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}
.text {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.button {
  margin-left: 30px;
  font-size: 22px;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: #fff;
  color: #007d34;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}
